<!-- ##EnvironmentName## -->
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver, NHibernate</property>
    <property name="dialect">NHibernate.Dialect.SQLiteDialect, NHibernate</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider, NHibernate</property>
    <property name="connection.connection_string">Data Source=StealFocus.Tracer.sqlLiteDB;Version=3;</property>
    <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>-->
    <property name="hbm2ddl.auto">create</property>
    <property name="show_sql">true</property>
  </session-factory>
</hibernate-configuration>