@{
    ViewBag.Title = "StealFocus - Tracer";
}
<script type="text/javascript" >
    var traceHub;

    $(function () {
        traceHub = $.connection.traceHub;
        traceHub.addTraceEvent = onAddTraceEvent;
        $("#sendTraceEventButton").click(onSendTraceEvent);
        $.connection.hub.start();
    });
    
    function getTraceEventHasGotAnExistingThread(correlationId) {
        var existingThreadDiv = $('#correlationId-' + correlationId);
        if (existingThreadDiv.length > 0) {
            return true;
        }
        return false;
    }

    function getTraceEventHasGotAnExistingBatch(batchId) {
        var existingBatchDiv = $('#batchId-' + batchId);
        if (existingBatchDiv.length > 0) {
            return true;
        }
        return false;
    }

    function createNewThread(correlationId) {
        var threadMarkup = '<div id="correlationId-' + correlationId + '" />';
        var traceEventsDiv = $('#traceEvents');
        if (traceEventsDiv.children().length > 0) {
            traceEventsDiv.prepend(threadMarkup);
        }
        else {
            traceEventsDiv.append(threadMarkup);
        }
    }

    function createNewBatch(correlationId, batchId) {
        var batchMarkup = '<div id="batchId-' + batchId + '" />';
        var correlationIdDiv = $('#correlationId-' + correlationId);
        if (correlationIdDiv.children().length > 0) {
            correlationIdDiv.prepend(batchMarkup);
        }
        else {
            correlationIdDiv.append(batchMarkup);
        }
    }

    function padDateTimeComponent(value) {
        value = value + "";
        if (value.length == 1) {
            value = "0" + value;
        }
        return value;
    }

    function padDateTimeMillisecondComponent(value) {
        value = value + "";
        if (value.length == 1) {
            value = "00" + value;
        }
        if (value.length == 2) {
            value = "0" + value;
        }
        return value;
    }

    function getDateTimeString(dateTime) {
        var parsedDate = new Date(parseInt(dateTime.substr(6)));
        var d = new Date(parsedDate);
        var year = d.getFullYear();
        var month = d.getMonth() + 1; // Month is zero based.
        month = padDateTimeComponent(month);
        var day = d.getDate();
        day = padDateTimeComponent(day);
        var hours = d.getHours();
        hours = padDateTimeComponent(hours);
        var minutes = d.getMinutes();
        minutes = padDateTimeComponent(minutes);
        var seconds = d.getSeconds();
        seconds = padDateTimeComponent(seconds);
        var milliseconds = d.getMilliseconds();
        milliseconds = padDateTimeMillisecondComponent(milliseconds);
        return year + "/" + month + "/" + day + " " + hours + ":" + minutes + ":" + seconds + "." + milliseconds;
    }

    function getMarkupForTraceEvent(traceEvent) {
        var timestamp = getDateTimeString(traceEvent.Timestamp);
        return '<div id="traceId-' + traceEvent.Id + '">' + timestamp + ' - ' + traceEvent.Source + ' - ' + traceEvent.UserName + ' - ' + traceEvent.Message + '</div>';
    }

    function onAddTraceEvent(traceEvent) {
        var traceEventHasGotAnExistingThread = getTraceEventHasGotAnExistingThread(traceEvent.CorrelationId);
        if (!traceEventHasGotAnExistingThread) {
            createNewThread(traceEvent.CorrelationId);
        }
        var traceEventHasGotAnExistingBatch = getTraceEventHasGotAnExistingBatch(traceEvent.BatchId);
        if (!traceEventHasGotAnExistingBatch) {
            createNewBatch(traceEvent.CorrelationId, traceEvent.BatchId);
        }
        var markupForTraceEvent = getMarkupForTraceEvent(traceEvent);
        var batchIdDiv = $('#batchId-' + traceEvent.BatchId);
        if ( batchIdDiv.children().length > 0 ) {
            batchIdDiv.prepend(markupForTraceEvent);
        }
        else {
            batchIdDiv.append(markupForTraceEvent);
        }
    }
</script>
@if (HttpContext.Current.Request.IsLocal)
{
    <script type="text/javascript" >
        function getFormattedDate(d) {
            var year = d.getFullYear();
            var month = d.getMonth() + 1; // Month is zero based.
            month = padDateTimeComponent(month);
            var day = d.getDate();
            day = padDateTimeComponent(day);
            var hours = d.getHours();
            hours = padDateTimeComponent(hours);
            var minutes = d.getMinutes();
            minutes = padDateTimeComponent(minutes);
            var seconds = d.getSeconds();
            seconds = padDateTimeComponent(seconds);
            var milliseconds = d.getMilliseconds();
            milliseconds = padDateTimeMillisecondComponent(milliseconds);
            return year + "-" + month + "-" + day + "T" + hours + ":" + minutes + ":" + seconds + "." + milliseconds;
        }

        function getTraceEvent() {
            var id = $('#id').val();
            var correlationId = $('#correlationId').val();
            var batchId = $('#batchId').val();
            var timestamp = getFormattedDate(new Date());
            var source = $('#source').val();
            var userName = $('#userName').val();
            var message = $('#message').val();
            return jQuery.parseJSON('{"Id":"' + id
                + '", "CorrelationId":"' + correlationId
                + '", "BatchId":"' + batchId
                + '", "Timestamp":"' + timestamp
                + '", "Source":"' + source
                + '", "UserName":"' + userName
                + '", "Message":"' + message
                + '"}');
        }

        function onSendTraceEvent() {
            var traceEvent = getTraceEvent();
            traceHub.send(traceEvent);
        }
    </script>
}
<h2>@ViewBag.Title</h2>
@if (HttpContext.Current.Request.IsLocal)
{
<form id="form1" runat="server">
    <div>
        ID: <input type="text" id="id" value="78fc923b-57b8-48af-938c-393b2dd54d9a" /><br />
        Correlation ID: <input type="text" id="correlationId" value="18fc923b-57b8-48af-938c-393b2dd54d9a" /><br />
        Batch ID: <input type="text" id="batchId" value="99fc923b-57b8-48af-938c-393b2dd54d2a" /><br />
        @*Timestamp: <input type="text" id="timestamp" value="2012-02-29T08:00:00" /><br />*@
        Source: <input type="text" id="source" value="MySouce" /><br />
        User Name: <input type="text" id="userName" value="User Name" /><br />
        Message: <input type="text" id="message" value="My message." /><br />
        <input type="button" id="sendTraceEventButton" value="Test" />
    </div>
</form>
<br />
}
<div id="traceEvents">
</div>